.13_8 { 
	overflow:hidden;
}.e13_8 { 
	background-color:rgba(250.00000029802322, 243.00000071525574, 237.0000010728836, 1);
	width:595px;
	height:842px;
	position:absolute;
	background-image:url(images/5_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e41_28 { 
	color:rgba(255, 255, 255, 1);
	width:137px;
	height:320px;
	position:absolute;
	left:355.48468017578125px;
	top:57px;
	font-family:Pretendard;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}